apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: busybox:1.36
          command: ["sh", "-c", "chown -R 1000:1000 /home/node/.n8n"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      containers:
        - name: n8n
          image: n8nio/n8n:2.3.5
          ports:
            - containerPort: 5678
              name: http
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
              ephemeral-storage: "512Mi"
            limits:
              cpu: "1"
              memory: "512Mi"
              ephemeral-storage: "2Gi"
          envFrom:
            - configMapRef:
                name: n8n-config
            - secretRef:
                name: n8n-secrets
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-data
